@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

:root {
	--card-width: 350px;
	--card-height: calc(var(--card-width) / 1.5);
}
.card {
	width: 350px;
	height: 250px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 0 0px;
	perspective: 8000px;
	margin: 0 0;
}

.cover-image {
width: 100%;
height: 100%;
object-fit: cover;
}

.wrapper {
transition: all 0.5s;
position: absolute;
width: 100%;
z-index: -1;
}

.card:hover .wrapper {
	transform: perspective(1000px) translateY(0%) rotateX(25deg) translateZ(0);
	box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
-webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
content: "";
opacity: 0;
width: 100%;
height: 100%;
transition: all 0.5s;
position: absolute;
left: 0;
}
.wrapper::before {
top: 0;
height: 100%;
background-image: linear-gradient(
	to top,
	transparent 46%,
	rgba(12, 13, 19, 0.5) 68%,
	rgba(12, 13, 19) 97%
);
}
.wrapper::after {
bottom: 0;
opacity: 1;
background-image: linear-gradient(
	to bottom,
	transparent 46%,
	rgba(12, 13, 19, 0.5) 68%,
	rgba(12, 13, 19) 97%
);
}

.card:hover .wrapper::before,
.wrapper::after {
opacity: 1;
}

.card:hover .wrapper::after {
	height: -10px;
}
.title {
	text-align: center;
	width: 100%;
	transition: transform 0.5s;
}
.card:hover .title {
	transform: translate3d(0%, -50px, 100px);
}

.character {
width: 50%;
opacity: 0;
transition: ease-in-out 0.5s;
position: absolute;
z-index: -1;
}

.card:hover .character {
opacity: 1;
transform: translate3d(0%, -30%, 100px);
}
