@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

  @media only screen and (max-width:1024px) {
	.img {
		--s: auto; /* image size */
		--b: 5px; /* border thickness */
		--c: #C02942; /* border color */
		--f: 2; /* initial scale */
		height: 100vh;
		padding: 0;
		aspect-ratio: 1;
		border-radius: 0 0 999px 999px;
		--_g: 50%/calc(100%/var(--f)) 100% no-repeat content-box;
		--_o: calc((1/var(--f) - 1)*40vw/2 - var(--b));
		outline-offset: var(--_o);
		background: 
		  radial-gradient(
			circle closest-side,
			#ECD078 calc(100% - var(--b)),var(--c) calc(100% - var(--b)) 99%,#0000
		   ) var(--_g);
		-webkit-mask:
		  linear-gradient(#000 0 0) no-repeat
		   50% calc(1px - var(--_o)) / calc(100%/var(--f) - 2*var(--b) - 2px) 35%,
		  radial-gradient(circle closest-side,#000 99%,#0000) var(--_g);
	  }
  }