@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.card {
	width: 400px;
	height: 180px;
	transition: all 0.2s;
	position: relative;
	cursor: pointer;
  }
  
  .card-inner {
	width: inherit;
	height: inherit;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(10px);
	border-radius: 8px;
	border: 2px solid white;
  }
  
  .card:hover {
	transform: scale(1.04) rotate(1deg);
  }

  


 @media only screen and (max-width: 1024px){
	.circle{
		position: relative;
		width: 200px;
		aspect-ratio: 1 / 1.2;
		display: flex;
		border-radius: 50%;
		align-items: flex-end;
		border-radius: 0 0 100vw 100vw;
		overflow: hidden;
	 }

	 .circle .bg {
		width: 100%;
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: 50%;
	 }

	 .circle .imagee{
		position: absolute;
		width: 100%;
		transform: scale(1.2);
	 }

 }