:root{
    --primary-color: #202123;
    --secondary-color: #f6c317;
    --tertiary-color: #e1e1e1;
    --quaternary-color: #606060;
    
}

body{
    background-color: var(--primary-color);
}

.head{
    padding: 0.5rem 2rem !important;
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: var(--secondary-color);
    padding: 0.5rem 0.0rem;
    border-radius: 25px;
}


nav a{
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    margin: 0 2rem;
    color: var(--primary-color);
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.aTag:hover {
    transform: scale(1.1); /* Add this line */
}
.nav-btn {
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    opacity: 0;
    visibility: hidden;
}

@media only screen and (max-width:1024px) {
    .head .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    .head nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background: rgba(245, 189, 6,0.9);
        transition: 1s;
        backdrop-filter: blur(5px);
        transform: translateY(-100vh);
    }

    .head .responsive_nav{
        transform: none;
    }

    .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}